* {
    background-color: rgb(48, 113, 117);
    color: white;
}
.box {
    text-align: center;
    font-size: 35px;
}
input {
    margin: 0 10px 0 10px;
    padding: 12px;
    background-color: beige;
    color: black;
    font-size: 15px;
}
button {
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(41, 110, 64);
    font-size: 20px;
}
button:hover {
    background-color: grey;
    color: white;
}